@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #00ffff;
    --secondary-color: #556B2F;
    --background-color: #282A2E;
    --text-color: #555;
    --font-main: "Poppins", serif;
    --font-size-base: 1.03em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: var(--font-size-base);
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
}

/* Styling for the header */
header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 20px 10%;
    color: var(--primary-color);
}
header h1 {
    font-weight: 700;
    font-size: 1.7em;
}
header ul {
    display: flex;
    gap: 3em;
    list-style: none;
}
header ul a {
    text-decoration: none;
}
.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.nav-link.active {
    color: var(--secondary-color);
    font-weight: bold;
}
.ham {
    display: none;
}

/* Styling for the main container */
.app__content {
    min-height: 80vh;
    padding: 20px 10%;
}

/* Hero Section styling */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.hero__left {
    width: 50%;
}
.hero__left h2 {
    font-size: 5em;
    line-height: 0.9em;
    font-weight: 800;
    margin-bottom: 14px;
}
.hero__left h2 span {
    font-weight: 800;
}
.hero__left .call-to-action {
    display: flex;
    gap: 1.2em;
    margin-top: 20px;
}
.hero__left .call-to-action a {
    height: 40px;
    width: 130px;
    font-size: 0.7em;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s ease-in-out;
}
.hero__left .call-to-action a:first-child{
    background-color: var(--secondary-color);
}
.hero__left .call-to-action a:first-child:hover {
    background-color: var(--secondary-color);
    opacity: 0.7;
}
.hero__left .call-to-action a:last-child {
    border: 1px solid var(--primary-color);
}
.hero__left .call-to-action a:last-child:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}
.hero__right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__circle {
    border: 5px dashed var(--secondary-color);
    border-radius: 50%;
    padding: 20px;
}
.hero__circle .photo {
    width: 300px;
    height: 300px;
}

/* Styling for the project component */
.projects {
    margin-top: 20vh;
    text-align: center;
    padding: 20px;
}
.projects h3 {
    font-size: 3em;
    font-weight: 800;
}

.projects p {
    font-size: 14px;
    color: #555;
}
.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.grid-item:hover {
    transform: scale(1.05);
}

.projects .container .project-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
}
/* Styling for the experience Component */
.experience {
    margin-top: 10vh;
}
.experience h3 {
    font-size: 3em;
    font-weight: 800;
}
.experience-company h4 {
    cursor: pointer;
    transition: color 0.3s ease;
}

.experience-company h4.active {
    color: var(--secondary-color);
    font-weight: bold;
}

.vertical-line span.active {
    background-color: var(--secondary-color);
}

.experience-container{
    display: flex;
    width: 100%;
    height: 240px;
}
.experience-container .vertical-line {
    display: flex;
    flex-direction: column;
    width: 5px;
    height: 240px;
    background-color: var(--primary-color);
    margin-right: 20px;
}
.experience-container .vertical-line span {
    height: 60px;
    width: 5px;
}
.experience-container .vertical-line .active {
    width: 5px;
    height: 60px;
    background-color: var(--secondary-color);
}
.experience-container .experience-company{
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 200px;
    justify-content: space-evenly;
    margin-right: 160px;
}
.experience-container .experience-detail h5{
    font-size: 0.7em;
}
.experience-container .experience-detail ul {
    list-style-image: url("./assets/tick.svg");
}
.experience-container .navigation-arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.experience-container .navigation-arrows button{
    background-color: transparent;
    border: none;
    /* padding: 10px; */
    color: var(--secondary-color);
    font-size: 1.5em;
    display: none;
}

/* Styling for the skills component */
.skills {
    margin-top: 10vh;
    font-size: 1em;
}
.skills h3 {
    font-size: 3em;
    font-weight: 800;
}
.skill-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.skill-container h4 {
    font-weight: 700;
    margin-bottom: 10px;
}
.skills p{
    opacity: 0.7;
}

/* Styling for the footer */
footer {
    position: relative;
    bottom: 0;
    height: 8vh;
    padding: 20px 10%;
    font-size: 0.9em;
}
footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}
footer .footer__nav {
    display: flex;
    width: calc(100vw-120px);
    justify-content: space-between;
}
footer ul {
    display: flex;
    gap: 3em;
    list-style: none;
}
footer .footer__socials {
    display: flex;
    gap: 1em;
}
footer .footer__contact {
    margin-top: 20px;
    margin-bottom: 30px;
}
footer .footer__contact h4 {
    font-size: 1.3em;
    font-weight: 600;
}
footer .footer__contact .call-to-action {
    display: flex;
    gap: 1.2em;
    margin-top: 20px;
}
footer .footer__contact .call-to-action a {
    height: 40px;
    width: 130px;
    font-size: 0.7em;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer__contact .call-to-action a:first-child{
    background-color: var(--secondary-color);
}
footer .footer__contact .call-to-action a:last-child {
    border: 1px solid var(--primary-color);
}
footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*************************************************
    STYLING FOR PROJECTS PAGE
*************************************************/

.ProjectPage p:first-child{
    width: 60%;
}
.ProjectPage h2 {
    font-size: 4em;
    font-weight: 800;
}
.ProjectPage span {
    font-weight: 800;
}
.ProjectPage ul {
    list-style: none;
    margin-top: 10vh;
}

/* Responsive styling */
@media (max-width: 1200px) {
    header, .app__content, footer {
        padding: 20px;
    }
    .projects .container {
        display: block;
    }
    .hero {
        display: block;
    }
    .hero__left {
        width: 100%;
    }
    .hero__right {
        width: 100%;
        margin-top: 50px;
    }
}
@media (max-width:768px) {
    .ham {
        display: block;
    }
    header nav, .contact {
        display: none;
    }
    .mobile-nav {
        padding: 0 40px;
        margin-bottom: 40px;
    }
    .mobile-nav ul {
        list-style: none;
    }
    .hero h2 {
        font-size: 2.5em;
    }
    .projects .container {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .experience{
        margin-bottom: 20vh;
    }
    .experience h3 {
        font-size: 2.7em;
    }
    .experience .vertical-line, .experience .experience-company {
        display: none;
    }
    .experience ul {
        margin-left: 20px;
    }
    .experience-container .navigation-arrows button{
        display: block;
    }
    /* .skills {
        margin-top: 35vh;
    } */
    .skill-container {
        flex-direction: column;
        align-items: left;
        padding-left: 20px;
        gap: 1.5em;
    }
    footer {
        text-align: center;
    }
    footer .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    footer .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:363px) {
    .skills {
        margin-top: 35vh;
    }
}
span {
    color: var(--secondary-color);
}
.hide {
    display: none;
}